
<%- include("partials/header.ejs") %>

<h1><%= title %></h1>

<p><%= homeParagraph %></p>

<% posts.forEach(element => { %>

    <h1><%= element.title %></h1>
    <p class="homePost"><%= element.text %></p>
    <a href=<%= "/posts/" + element.fixedTitle %>>Read more</a>

<% }) %>

<%- include("partials/footer.ejs") %>